FRONTEND_IMAGE=docker.io/your-dockerhub-namespace/y-link-frontend:latest
BACKEND_IMAGE=docker.io/your-dockerhub-namespace/y-link-backend:latest
FRONTEND_PORT=8080
BACKEND_PORT=3001
DB_TYPE=mysql
SQLITE_DB_PATH=/app/data/y-link.sqlite
DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=y_link
DB_SYNC=false
INIT_ADMIN_USERNAME=admin
INIT_ADMIN_DISPLAY_NAME=系统管理员
